body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#palabra {
    font-size: 2em;
    margin-bottom: 20px;
}

#intentos {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 30px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
